# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Temporary Files / Logs
*.log
logs/
tmp/
temp/
scratch/

# Operating System
.DS_Store
Thumbs.db
